#rht-cover-logo {
    position: absolute;
    top: -200px;
    right: 0;
    height: 64px;
    background: rgba(0,0,0,0);
    border: 0;
    box-shadow: 0 0 0;
}

#conf-cover-logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    background: rgba(0,0,0,0);
    border: 0;
    box-shadow: 0 0 0;
}

section#cover,
section#cover h1,
section#cover h2,
section#cover h3,
section#cover h4
{
    color: white;
}

#cover-name {
    padding-top: 50px;
}

#cover-title {
/*    padding-top: 200px;*/
    color: white;
    text-align: center;
}

.reveal section img {
    border: 0;
    box-shadow: 0 0 0;
}

section img.rhtlogo {
    position: absolute;
    top: 600px;
    right: 0;
    height: 40px;
}

section .pad-top {
    padding-top: 50px;
}

section .code span {
    background: #dedede;
    font-family: monospace;
    font-size: .75em;
}

section .code a:hover,
section .code a {
    color: black;
}
