#cover-logo {
    position: absolute;
    top: 0;
    right: 0;
    height: 64px;
    background: rgba(0,0,0,0);
    border: 0;
    box-shadow: 0 0 0;
}

div#cover {
    position: relative;
    top: 200px;
    text-align: left;
}

section#cover h1,
section#cover h2,
section#cover h3,
section#cover h4
{
    position: relative;
    top: 150px;
    color: white;
}

section img.rhtlogo {
    position: absolute;
    top: 600px;
    right: 0;
    height: 40px;
    border: 0;
    box-shadow: 0 0 0;
}

section {
    text-align: left;
}
